.MainMenu{
    width: 100%;
    grid-area: MainMenu;
    max-width: 100%;

}
.NavMenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.NavMenu .Item{
    text-align: center;
    margin: 5px;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 2px;
    width: 200px;
}
.NavMenu .Item:hover{
    background-color: rgb(219, 219, 219);
    cursor: pointer;
}
.NavMenu .Item a{
    text-decoration: none;
    color: black;
    display: block;
}
.ActiveRoute{
    text-decoration: underline!important;
}
.Icons{
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin: 0 auto;
}
.Icons i {
    border: 1px solid black;
    border-radius: 2px;
    padding: 10px;
    font-size: 25px;
    color: black;
}
.Icons i:hover {
    background-color: rgb(219, 219, 219);
    cursor: pointer;
}
.Download{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
}
.Download a{
    display: block;
    background-color: red;
    width: 200px;
    border: 1px solid black;
    border-radius: 2px;
    color: white;
    text-decoration: none;
    padding: 5px;
}
.Download a:hover{
    text-decoration: underline;
}
