.App{
    display: grid;
    grid-template-areas:
        ' MainPhoto Content '
        ' MainMenu Content '
        ' . Content'
    ;
    grid-template-columns: 1fr 3fr;
}
*{
    box-sizing: border-box;
}
@media (max-width: 769px) {
    .App{
        grid-template-areas:
        ' MainPhoto '
        ' MainMenu '
        ' Content '
    ;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;

    }
    .Main{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1;
    }
    .Content{
        position: absolute;
        top: 610px;
        left: 0;
        width: 100%;
        z-index: 2;
        background: white;
    }
}
